.p1{
    max-width: 375px;
    height: 300px;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
   
}

.p2{
    width: 100px;
    height: 270px;
    border: 1px solid black;
    grid-column: 1/2;
    background-color: rgb(83, 79, 79);
}

.p3{
    width: 100px;
    height: 270px;
    border: 1px solid black;
    grid-column: 2/3;
    background-color: rgb(83, 79, 79);
}

.p4{
    width: 100px;
    height: 270px;
    border: 1px solid black;
    grid-column: 3/4;
    background-color: rgb(83, 79, 79);
}
